.gauges-container {
  display: flex;
}

.td-root-graphs-container h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.td-session-button-container {}

.graphs-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  gap: 10px;
}

.graph-container {
  flex-grow: 1;
  border-radius: 10px;
  margin-right: 20px;
}

.student-list {

  display: flex;
  flex-direction: column;
}